In [2]:
import pandas as pd

# Define the path to the CSV file
csv_path = "Organized/Sales/sales_dump.csv"

# Read the CSV file into a DataFrame
sales_data = pd.read_csv(csv_path)

# Display the head of the DataFrame
sales_data.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_7616\3599543037.py:7: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  sales_data = pd.read_csv(csv_path)

,Date,Timestamp,Invoice_No_,Payment_Type,Order_Type,Area,Item_Name,Price,Qty_,Sub_Total,...,Assign_To,Non_Taxable,CGST_Rate,CGST_Amount,SGST_Rate,SGST_Amount,VAT_Rate,VAT_Amount,Service_Charge_Rate,Service_Charge_Amount
0,2023-09-25,2023-09-25 21:17:18+00:00,1651,CARD,Dine In,Dine in,OLD MONK (DARK),275.0,2.0,550.0,...,SM,0.0,2.5,0.0,2.5,0.0,10.0,27.5,5.0,0.0
1,2023-07-22,2023-07-22 21:58:41+00:00,585,Cash,Dine In,Garden Table,OLD MONK (DARK),275.0,2.0,550.0,...,NaN,0.0,2.5,0.0,2.5,0.0,10.0,27.5,5.0,0.0
2,2023-08-03,2023-08-03 22:27:48+00:00,771,Other [UPI],Dine In,Dine in,BACARDI WHITE,275.0,2.0,550.0,...,TD,0.0,2.5,0.0,2.5,0.0,10.0,27.5,5.0,0.0
3,2023-08-30,2023-08-30 23:54:01+00:00,1253,CARD,Dine In,Dine in,BACARDI LEMON,275.0,2.0,550.0,...,SK,0.0,2.5,0.0,2.5,0.0,10.0,27.5,5.0,0.0
4,2023-07-12,2023-07-12 15:32:09+00:00,408,CARD,Dine In,Dine in,OLD MONK (DARK),275.0,2.0,550.0,...,SK,0.0,2.5,0.0,2.5,0.0,10.0,27.5,5.0,0.0

In [4]:
import pandas as pd

# Define the path to the CSV file
csv_path = "Organized/Sales/sales_dump.csv"

# Read the CSV file into a DataFrame
sales_data = pd.read_csv(csv_path)

# Step 1: Handle missing values (filling with 0 or appropriate methods for specific columns)
sales_data.fillna({
    'CGST_Amount': 0,
    'SGST_Amount': 0,
    'VAT_Amount': 0,
    'Service_Charge_Amount': 0,
    'Price': 0,
    'Qty_': 1  # Assuming a default quantity of 1 if not specified
}, inplace=True)

# Step 2: Convert 'Date' and 'Timestamp' columns to datetime objects
sales_data['Date'] = pd.to_datetime(sales_data['Date'], errors='coerce')
sales_data['Timestamp'] = pd.to_datetime(sales_data['Timestamp'], errors='coerce')

# Step 3: Extract date-time features for further analysis
sales_data['Year'] = sales_data['Timestamp'].dt.year
sales_data['Month'] = sales_data['Timestamp'].dt.month
sales_data['Day'] = sales_data['Timestamp'].dt.day
sales_data['Hour'] = sales_data['Timestamp'].dt.hour

# Step 4: Drop irrelevant columns if any (e.g., 'Assign_To' if not needed)
columns_to_drop = ['Assign_To']
sales_data.drop(columns=columns_to_drop, axis=1, inplace=True)

# Step 5: Convert categorical data
categorical_columns = ['Payment_Type', 'Order_Type', 'Area', 'Item_Name']
sales_data[categorical_columns] = sales_data[categorical_columns].astype('category')

# Step 6: Create 'Total_Tax' as a new feature
sales_data['Total_Tax'] = (
    sales_data['CGST_Amount'] +
    sales_data['SGST_Amount'] +
    sales_data['VAT_Amount']
)

# Display the first few rows of the preprocessed data
sales_data.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_7616\2023052858.py:7: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  sales_data = pd.read_csv(csv_path)

,Date,Timestamp,Invoice_No_,Payment_Type,Order_Type,Area,Item_Name,Price,Qty_,Sub_Total,...,SGST_Amount,VAT_Rate,VAT_Amount,Service_Charge_Rate,Service_Charge_Amount,Year,Month,Day,Hour,Total_Tax
0,2023-09-25,2023-09-25 21:17:18+00:00,1651,CARD,Dine In,Dine in,OLD MONK (DARK),275.0,2.0,550.0,...,0.0,10.0,27.5,5.0,0.0,2023,9,25,21,27.5
1,2023-07-22,2023-07-22 21:58:41+00:00,585,Cash,Dine In,Garden Table,OLD MONK (DARK),275.0,2.0,550.0,...,0.0,10.0,27.5,5.0,0.0,2023,7,22,21,27.5
2,2023-08-03,2023-08-03 22:27:48+00:00,771,Other [UPI],Dine In,Dine in,BACARDI WHITE,275.0,2.0,550.0,...,0.0,10.0,27.5,5.0,0.0,2023,8,3,22,27.5
3,2023-08-30,2023-08-30 23:54:01+00:00,1253,CARD,Dine In,Dine in,BACARDI LEMON,275.0,2.0,550.0,...,0.0,10.0,27.5,5.0,0.0,2023,8,30,23,27.5
4,2023-07-12,2023-07-12 15:32:09+00:00,408,CARD,Dine In,Dine in,OLD MONK (DARK),275.0,2.0,550.0,...,0.0,10.0,27.5,5.0,0.0,2023,7,12,15,27.5

In [5]:
from sklearn.preprocessing import LabelEncoder

# Step 1: One-Hot Encoding for columns with few unique values
sales_data = pd.get_dummies(sales_data, columns=['Payment_Type', 'Order_Type', 'Area'], drop_first=True)

# Step 2: Label Encoding for columns with many unique values
label_encoder = LabelEncoder()
sales_data['Item_Name'] = label_encoder.fit_transform(sales_data['Item_Name'])

# Display the first few rows of the preprocessed data
sales_data.head()

,Date,Timestamp,Invoice_No_,Item_Name,Price,Qty_,Sub_Total,Discount,Tax,Final_Total,...,Area_Dine in,Area_Garden Table,Area_Home Delivery,Area_PARTY,Area_Parcel,Area_Persanol Dine In Room,Area_Personal Dine In Room,Area_Room Service,Area_Swiggy,Area_Zomato
0,2023-09-25,2023-09-25 21:17:18+00:00,1651,763,275.0,2.0,550.0,0.0,27.5,577.5,...,True,False,False,False,False,False,False,False,False,False
1,2023-07-22,2023-07-22 21:58:41+00:00,585,763,275.0,2.0,550.0,0.0,27.5,577.5,...,False,True,False,False,False,False,False,False,False,False
2,2023-08-03,2023-08-03 22:27:48+00:00,771,48,275.0,2.0,550.0,0.0,27.5,577.5,...,True,False,False,False,False,False,False,False,False,False
3,2023-08-30,2023-08-30 23:54:01+00:00,1253,45,275.0,2.0,550.0,0.0,27.5,577.5,...,True,False,False,False,False,False,False,False,False,False
4,2023-07-12,2023-07-12 15:32:09+00:00,408,763,275.0,2.0,550.0,0.0,27.5,577.5,...,True,False,False,False,False,False,False,False,False,False

In [6]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler, FunctionTransformer
from sklearn.impute import SimpleImputer

# Define the path to the CSV file
csv_path = "Organized/Sales/sales_dump.csv"

# Read the CSV file into a DataFrame
sales_data = pd.read_csv(csv_path)

# Function to convert 'Date' and 'Timestamp' to datetime and extract date-time features
def extract_datetime_features(df):
    df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
    df['Timestamp'] = pd.to_datetime(df['Timestamp'], errors='coerce')
    df['Year'] = df['Timestamp'].dt.year
    df['Month'] = df['Timestamp'].dt.month
    df['Day'] = df['Timestamp'].dt.day
    df['Hour'] = df['Timestamp'].dt.hour
    return df

# Function to label encode 'Item_Name'
def label_encode_item_name(df):
    label_encoder = LabelEncoder()
    df['Item_Name'] = label_encoder.fit_transform(df['Item_Name'])
    return df

# Define preprocessing for numeric columns
numeric_features = ['Price', 'Qty_', 'Sub_Total', 'CGST_Amount', 'SGST_Amount', 'VAT_Amount', 'Service_Charge_Amount']
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

# Define preprocessing for categorical columns using One-Hot Encoding
categorical_features = ['Payment_Type', 'Order_Type', 'Area']
categorical_transformer = OneHotEncoder(drop='first', handle_unknown='ignore')

# Combine all preprocessing steps into a ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features),
    ],
    remainder='passthrough'  # Keeps other columns that aren't specifically processed
)

# Create a complete pipeline
pipeline = Pipeline(steps=[
    ('datetime_features', FunctionTransformer(extract_datetime_features)),
    ('label_encode_item_name', FunctionTransformer(label_encode_item_name)),
    ('preprocessor', preprocessor)
])

# Apply the pipeline to the data
preprocessed_data = pipeline.fit_transform(sales_data)

# Convert the preprocessed data back to a DataFrame for better readability (optional)
# Extract feature names after transformation for readability
preprocessed_columns = pipeline.named_steps['preprocessor'].get_feature_names_out()
preprocessed_df = pd.DataFrame(preprocessed_data, columns=preprocessed_columns)

# Display the first few rows of the preprocessed data
preprocessed_df.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_7616\4000157590.py:11: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  sales_data = pd.read_csv(csv_path)

,num__Price,num__Qty_,num__Sub_Total,num__CGST_Amount,num__SGST_Amount,num__VAT_Amount,num__Service_Charge_Amount,cat__Payment_Type_Cash,cat__Payment_Type_Due Payment,cat__Payment_Type_Online,...,remainder__Assign_To,remainder__Non_Taxable,remainder__CGST_Rate,remainder__SGST_Rate,remainder__VAT_Rate,remainder__Service_Charge_Rate,remainder__Year,remainder__Month,remainder__Day,remainder__Hour
0,-0.398182,0.469166,-0.01426,-0.39052,-0.39036,0.543133,-0.400309,0.0,0.0,0.0,...,SM,0.0,2.5,2.5,10.0,5.0,2023,9,25,21
1,-0.398182,0.469166,-0.01426,-0.39052,-0.39036,0.543133,-0.400309,1.0,0.0,0.0,...,NaN,0.0,2.5,2.5,10.0,5.0,2023,7,22,21
2,-0.398182,0.469166,-0.01426,-0.39052,-0.39036,0.543133,-0.400309,0.0,0.0,0.0,...,TD,0.0,2.5,2.5,10.0,5.0,2023,8,3,22
3,-0.398182,0.469166,-0.01426,-0.39052,-0.39036,0.543133,-0.400309,0.0,0.0,0.0,...,SK,0.0,2.5,2.5,10.0,5.0,2023,8,30,23
4,-0.398182,0.469166,-0.01426,-0.39052,-0.39036,0.543133,-0.400309,0.0,0.0,0.0,...,SK,0.0,2.5,2.5,10.0,5.0,2023,7,12,15

In [7]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

def load_data(file_path):
    """
    Load the CSV file into a pandas DataFrame.
    
    :param file_path: Path to the CSV file.
    :return: DataFrame containing the sales data.
    """
    return pd.read_csv(file_path)

def handle_missing_values(df):
    """
    Handle missing values by filling in with default values.
    
    :param df: DataFrame with raw sales data.
    :return: DataFrame with missing values handled.
    """
    df.fillna({
        'CGST_Amount': 0,
        'SGST_Amount': 0,
        'VAT_Amount': 0,
        'Service_Charge_Amount': 0,
        'Price': 0,
        'Qty_': 1  # Assuming a default quantity of 1 if not specified
    }, inplace=True)
    return df

def convert_datetime(df):
    """
    Convert 'Date' and 'Timestamp' columns to datetime objects and extract additional features.
    
    :param df: DataFrame containing sales data.
    :return: DataFrame with datetime columns converted and new time features extracted.
    """
    df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
    df['Timestamp'] = pd.to_datetime(df['Timestamp'], errors='coerce')
    
    # Extracting useful time-based features
    df['Year'] = df['Timestamp'].dt.year
    df['Month'] = df['Timestamp'].dt.month
    df['Day'] = df['Timestamp'].dt.day
    df['Hour'] = df['Timestamp'].dt.hour
    
    return df

def encode_categorical_data(df):
    """
    Convert categorical columns to numerical data using One-Hot Encoding and Label Encoding.
    
    :param df: DataFrame with raw sales data.
    :return: DataFrame with categorical columns converted to numerical.
    """
    # One-Hot Encoding for 'Payment_Type', 'Order_Type', and 'Area'
    df = pd.get_dummies(df, columns=['Payment_Type', 'Order_Type', 'Area'], drop_first=True)
    
    # Label Encoding for 'Item_Name'
    label_encoder = LabelEncoder()
    df['Item_Name'] = label_encoder.fit_transform(df['Item_Name'])
    
    return df

def create_features(df):
    """
    Create new features such as 'Total_Tax' by combining relevant columns.
    
    :param df: DataFrame with sales data.
    :return: DataFrame with new features added.
    """
    df['Total_Tax'] = df['CGST_Amount'] + df['SGST_Amount'] + df['VAT_Amount']
    return df

def preprocess_sales_data(file_path):
    """
    Perform all preprocessing steps on the sales data.
    
    :param file_path: Path to the CSV file.
    :return: Preprocessed DataFrame ready for machine learning models.
    """
    # Load data
    df = load_data(file_path)
    
    # Handle missing values
    df = handle_missing_values(df)
    
    # Convert datetime columns and extract features
    df = convert_datetime(df)
    
    # Encode categorical data
    df = encode_categorical_data(df)
    
    # Create additional features
    df = create_features(df)
    
    # Drop irrelevant columns (if any)
    df.drop(columns=['Assign_To'], inplace=True, errors='ignore')
    
    return df

# Define the path to the CSV file
csv_path = "Organized/Sales/sales_dump.csv"

# Preprocess the data
preprocessed_data = preprocess_sales_data(csv_path)

# Display the head of the preprocessed data
preprocessed_data.head()

C:\Users\HP\AppData\Local\Temp\ipykernel_7616\3597309811.py:11: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(file_path)

,Date,Timestamp,Invoice_No_,Item_Name,Price,Qty_,Sub_Total,Discount,Tax,Final_Total,...,Area_Garden Table,Area_Home Delivery,Area_PARTY,Area_Parcel,Area_Persanol Dine In Room,Area_Personal Dine In Room,Area_Room Service,Area_Swiggy,Area_Zomato,Total_Tax
0,2023-09-25,2023-09-25 21:17:18+00:00,1651,763,275.0,2.0,550.0,0.0,27.5,577.5,...,False,False,False,False,False,False,False,False,False,27.5
1,2023-07-22,2023-07-22 21:58:41+00:00,585,763,275.0,2.0,550.0,0.0,27.5,577.5,...,True,False,False,False,False,False,False,False,False,27.5
2,2023-08-03,2023-08-03 22:27:48+00:00,771,48,275.0,2.0,550.0,0.0,27.5,577.5,...,False,False,False,False,False,False,False,False,False,27.5
3,2023-08-30,2023-08-30 23:54:01+00:00,1253,45,275.0,2.0,550.0,0.0,27.5,577.5,...,False,False,False,False,False,False,False,False,False,27.5
4,2023-07-12,2023-07-12 15:32:09+00:00,408,763,275.0,2.0,550.0,0.0,27.5,577.5,...,False,False,False,False,False,False,False,False,False,27.5